body
{
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

#ppal
{
    align-content: center;
    width: 50%;
    padding: 1em;
    text-align: left;
    border: 1px groove lightgrey;   
    margin: 0 auto;
    background-color: lightgrey;
}

#post h1
{
    color: grey;
    font-size: 30px;
}

#cabecera
{
    background-color: grey;
}